html, body {
  padding: 0;
  margin: 0;
}

html, body, canvas {
  touch-action: none;
  touch-action-delay: none;
}
#button-section{
  margin: 0 0 0 10px;
}
#button-section,p.btn-para,p.s-para{
  float: left;
}
p.btn-para{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  margin: 0 0 0 5px;
}
p.s-para{
  margin: 0 5px 0 0;
}

